* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
html {
  height: 100%;
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


  min-height: 100vh;


}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;

}


.search-input {
text-align: center;
margin-left: 70%;
  border: 1px solid darkred;
  border-radius: 5px;


}
.navbar{

  height: 70px;

}

.navbar ul {
  display: flex;
  margin-top: 20px;
}
.navbar a {
  padding: 10px;
  margin: 0 5px;
  color: darkred;
  font-size: 20px;
}

.navbar .flex {
  justify-content: space-between;
}

.container{
  padding: 0 70px;
  margin:  0 ;
  overflow: auto;

}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

}



.container2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows:  230px;
  grid-template-areas:

  "left  right "
  "info  info"
  "dl     dr"



  }




  .info {
      grid-area: info;
      text-align: center;
      margin-top: 40px;
      font-size: 21px;
      margin-left: 200px;
      margin-right: 200px;
      line-height: 150%;
  }


.left {
  grid-area: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: green;

}


.right > img {
  grid-area: right;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.dl{
  grid-area: dl-start;
  align-items: center;

  flex-direction: row;
  justify-content: center;

  color: black;

  text-align: center;

}

.dr{
  grid-area: dr-start;
  align-items: center;

  flex-direction: row;
  justify-content: center;

  color: black;

  text-align: center;

}

.textbox{
  width: 100%;
  height: 230px;

  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 2px solid black;
}

.textbox p{

  align-items: center;


}

.textbox2{
  width: 100%;
  height: 230px;

  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 2px solid black;
}

.textbox2 p{

  align-items: center;


}

#changeLanguage {

	margin: 20px 0;
  box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;

}
  #changeLanguage:hover {
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    background-color:#68a54b;
  }
  #changeLanguage:active {
    position:relative;
    top:1px;
  }

  #sortCourses {

	margin: 20px 0;
  box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;

}
  #sortCourses:hover {
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    background-color:#68a54b;
  }
  #sortCourses:active {
    position:relative;
    top:1px;
  }
  #randomBtn {

    margin: 20px 0;
    box-shadow:inset 0px 1px 0px 0px #9acc85;
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    background-color:#74ad5a;
    border:1px solid #3b6e22;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;

  }
    #randomBtn:hover {
      background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
      background-color:#68a54b;
    }
    #randomBtn:active {
      position:relative;
      top:1px;
    }



#courses {
	margin: 20px;
}

@media (max-width: 1200px){
  .search-input{
    margin-left: 3%;

  }
  .navbar a{
      margin: 0;
  }

  .right > img{

    color: #3b6e22;
  }
}





@media (max-width: 700px){
  .container2{
      display: flex;
      flex-direction: column;


  }

  .container{
      padding: 0;
  }

  .right > img{

      height: 200px;
  }
}


 .input-icons i {
  position: absolute;

}

